/build
/lib
/bin
/cmake-build-debug-visual-studio
/.idea
/vcpkg.json
/vcpkg-configuration.json
/vcpkg_
/3rd/assimp/assimp
/3rd/zlib/zlib
/3rd/FreeImage/FreeImage
/3rd/DirectX-Headers/DirectX-Headers
/3rd/dxsdk/dxsdk
*.cso


/Chapter4
/Chapter6
/Chapter7
