/build
/lib
/bin
/cmake-build-debug-visual-studio
/.idea
/vcpkg.json
/vcpkg-configuration.json
/vcpkg_
/3rd/assimp
/3rd/d3dcompiler
/3rd/DirectX-Headers
/3rd/dxsdk/dxsdk
/3rd/zlib
*.cso


/Chapter4
/Chapter6
